.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.app
{
    height: 100%;
    width: 100%;
}
.box
{
    width: 80%;
    margin: 20% auto;
}
.qrcode
{
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}
body
{
    background-color: rgb(245, 245, 245);
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
}
page
{
    height: 100%;
}