.menu
{
    z-index: 2;
    position: fixed;
    width: 80px;
    height: 330px;
    background-color: white;
    right: 10px;
    bottom: 30%;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
    transition-duration: 100ms;
    
}
 .usedapp
{
    position: relative;
    margin: 8px;
    line-height: 64px;
    font-size: 40px;
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    transition-duration: 200ms;
}
.buttom
{
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 4px;
    border: 2px lightgray solid;
    border-radius: 4px;
    transform: scale(1);
    transition-duration: 100ms;
}
.buttom:hover
{
    transform: scale(1.1);
    transition-duration: 100ms;
}
.app
{  
    color: rgb(66, 66, 66); 
    width: 100%;
    height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}
.banner
{
    position: fixed;
    overflow: hidden;
    background-color: white;
    height: 180px;
    width:calc(100% - 20px);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
}
.bannerImg
{
    object-fit:cover;
    height: 100%;
    width: 25%;
}
.appList{
    width:calc(100% - 20px);
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
}
.appItem
{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 25%;
    text-align: center;
    margin-bottom: 12px;
}
.appList i
{
    line-height: 64px;
    font-size: 40px;
    color: white;
}
.appItem div:first-child
{
    border-radius: 8px;
    width: 64px;
    height: 64px;
}
.menuHideBut
{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.menuShowBut
{
    width: 40px;
    height: 80px;
    position:fixed;
    bottom: 50%;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
    right: -20px;
    background-color: white;
    line-height: 80px;
    transition-duration: 100ms;
}
.menuTitle
{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.menuItem
{
    margin-top: 40px;
    height: calc(100% - 80px);
}
.tab
{
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 2;
    flex-wrap: nowrap;
    justify-content:space-around;
    box-shadow: 0 0 4px lightgray;
}
.miniapptitle
{
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.miniappshow
{
    z-index: 1;
    position:fixed;
    background-color: white;
    width: 100%;
    height: calc(100% - 64px);
    top:0;
    border-radius: 0;
    transform: scale(1);
    transition-duration: 300ms;
}
.miniapphide
{
    z-index: 1;
    position:fixed;
    background-color: white;
    width: 100%;
    height: calc(100% - 64px);
    top:100%;
    border-radius: 16px;
    transform: scale(0.7);
    transition-duration: 300ms;
}
.inframe
{
    border: none;
    width: 100%;
    height: 100%;
}
.grab
{
    background-color: gray;

    width: 60px;
    height: 6px;
    position: relative;
    left: calc(50% - 30px);
    top:8px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.close
{
    text-align: center;
    line-height: 50px;
    display: block;
    position: absolute;
    font-size: 26px;
    width: 50px;
    height: 50px;
    right: 20px;
    top:0
}
.appbox
{
    width: 96%;
    position: relative;
    left: 2%;
    bottom: 64px;
    background-color: white;
    border-radius: 16px 16px 0 0; 
    transition-duration: 200ms;
    margin-bottom:-12px;
    box-shadow: 0 0 5px lightgray;
}

body
{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    width: 100%;
}
