<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/src/favicon.ico" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f5f5f5" />
    <title>莆田学院快捷教务</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
</head>
<body>
    <div id="app" class="app">
        <div class="banner">
                <div style="width: 400%;position: relative;transition-duration: 200ms;height: 100%;" :style="{left:picnow*-100+'%'}">
                    <img @click="openapp(item.id,-1)" v-for="item in picList" class="bannerImg" :src="'/src/banner/'+item.pic"/>
                </div>
        </div>

        <div style="height: calc(100% - 116px);width: 100%;"></div>
        <div class="appbox">
            <div class="grab"></div>
            <div class="appList">
                <div @click="openapp(index,-1)" class="appItem" v-for="(item,index) in appList">
                    <div :style="{background:item.color}"><i :class="['bi',item.ico]"></i></div>
                    <div>{{item.name}}</div>
                </div>
            </div>
        </div>

        <div v-for="item in opendapp" :class="{miniappshow:appnow==item,miniapphide:appnow!=item}">
            <i @click="close(item,-1)" class="bi close bi-x-circle"></i>
            <iframe class="inframe" :src="'/app/'+appList[item].url"></iframe>
        </div>

        <div class="tab">
            <i @click="openapp(-1)" style="color: rgb(236, 201, 155);margin: 0;" :style="{bottom:appnow==-1?'20px':'0'}" class="usedapp bi bi-house-fill"></i>
            <i @click="openapp(item)" v-for="item in opendapp" :style="{color:appList[item].color,bottom:appnow==item?'20px':'0'}" style="margin: 0;" :class="['bi','usedapp',appList[item].ico]"></i>
        </div>

        <div style="position: fixed;top:200px" class="appList">
            <div @click="openapp(item,-1)" class="appItem" v-for="item in mainapp">
                <div :style="{background:appList[item].color}"><i :class="['bi',appList[item].ico]"></i></div>
                <div>{{appList[item].name}}</div>
            </div>
        </div>

        <div :style="{right : menuShow?'10px':'-85px'}" class="menu">
            <div @click="menuShow=!menuShow" class="menuHideBut">收起{{'>'}}</div>  
            <div class="menuItem">
                <div class="usedapp" @click="openapp(item,-2)" v-for="item in usedApp" :style="{background:appList[item].color}"><i :class="['bi',appList[item].ico]"></i></div>
            </div>    
        </div>
        <div @click="menuShow=!menuShow" :style="{right : menuShow?'-45px':'-20px'}" class="menuShowBut">{{" <"}}</div>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>

    <script src="index.js"></script>   
</body>
</html>