<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空教室查询</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>

</head>
<body>
    <div class="app" id="app">
        <div class="title">
            空教室查询
        </div>
        
        <div class="box">
            <div v-for="item in jiaoshiList" class="item">
                <div class="lname">{{item.jxlmc}}</div>
                <div class="sname">{{item.cdmc}}</div>
            </div>
        </div>

        <div class="bottomtab">
            <select title="1" v-model="xqh_id">
                <option value="1">学园校区</option>
                
            </select>
            <select title="01" v-model="lh">
                <option value="01">北区教学楼</option>
                <option value="14">北区实验楼</option>
                <option value="16">北区图书馆</option>
                <option value="25">电脑楼</option>
                <option value="23">光琼科学楼</option>
                <option value="21">和义楼</option>
                <option value="02">金荣楼</option>
                <option value="15">南区教学楼</option>
                <option value="04">文正楼</option>
                <option value="26">无楼号</option>
                <option value="17">雄馨楼</option>
                <option value="22">中区实验楼</option>
                <option value="24">中区艺术楼</option>
                <option value="wlh">无楼号</option>
            </select>
            <select title="1" v-model="zcd">
                <option value="1">第一周</option>
                <option value="2">第二周</option>
                <option value="3">第三周</option>
                <option value="4">第四周</option>
                <option value="5">第五周</option>
                <option value="6">第六周</option>
                <option value="7">第七周</option>
                <option value="8">第八周</option>
                <option value="9">第九周</option>
                <option value="10">第十周</option>
                <option value="11">第十一周</option>
                <option value="12">第十二周</option>
                <option value="13">第十三周</option>
                <option value="14">第十四周</option>
                <option value="15">第十五周</option>
                <option value="16">第十六周</option>
                <option value="17">第十七周</option>
                <option value="18">第十八周</option>
                <option value="19">第十九周</option>
            </select>
            <select title="1" v-model="xqj">
                <option value="1">周一</option>
                <option value="2">周二</option>
                <option value="3">周三</option>
                <option value="4">周四</option>
                <option value="5">周五</option>
                <option value="6">周六</option>
                <option value="7">周日</option>   
            </select>
            <select title="1" v-model="jcd">
                <option value="1">上午一节</option>
                <option value="2">上午二节</option>
                <option value="3">上午三节</option>
                <option value="4">上午四节</option>
                <option value="5">上午五节</option>
                <option value="6">下午六节</option>
                <option value="7">下午七节</option>
                <option value="8">下午八节</option>
                <option value="9">下午九节</option>
                <option value="10">晚第十节</option>
                <option value="11">晚十一节</option>
                <option value="12">晚十二节</option>
            </select>
            <div @click="getJiaoshi" class="chaxun">查询</div>
        </div>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>
    <script src="index.js"></script>
</body>
</html>