.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.bottomtab
{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.bottomtab select
{
    background-color: white;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 5px lightgray;
}
.item
{
    position: relative;
    width: 100%;
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.lname
{
    position: absolute;
    left: 40px;
}
.sname
{
    width: 60%;
    text-align: center;
    position: absolute;
    left: 40%;
}
.bottomtab .chaxun
{
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 5px lightgray;
    color: white;
    background-color: rgb(118, 198, 224);
}
.app
{
    width: 100%;
    height: 100%;
}

.box
{
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 170px);
    width: calc(100% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
}

body{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html
{
    height: 100%;
}