<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考试信息查询</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>

</head>
<body>
    <div class="app" id="app">
        <div class="title">
            考试信息查询
        </div>
        <div class="chengji">
            <div :style="{color:item.cxbj=='是'?'red':''}" class="chengjiitem" v-for="item in Kaochang">
                <div>{{item.kcmc}}{{item.cxbj=='是'?'(重修)':''}}</div>
                <div>{{item.cdmc}}</div>
                <div>{{item.kssj}}</div>
            </div>
        </div>
        <div class="bottomtab">
            <select title="2023" v-model="year">
                <option value="2023">2023-2024</option>
                <option value="2022">2022-2023</option>
                <option value="2021">2021-2022</option>
                <option value="2020">2020-2021</option>
            </select>
            <select title="3" v-model="tern">
                <option value="3">学期一</option>
                <option value="12">学期二</option>
                <option value="16">学期三</option>
            </select>
            <div @click="getKaochang" class="chaxun">查询</div>
        </div>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>
    <script src="index.js"></script>
</body>
</html>