.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.bottomtab
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.bottomtab select
{
    background-color: white;
    margin: 5px;
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 16px;
    text-align: center;
    box-shadow: 0 0 5px lightgray;
}
.bottomtab .chaxun
{
    margin: 5px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 5px lightgray;
    color: white;
    background-color: rgb(118, 198, 224);
}
.app
{
    width: 100%;
    height: 100%;
}
.chengji
{
    height: calc(100% - 130px);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 8px;
    margin: 10px;
    width: calc(100% - 20px);
    box-shadow: 0 0 5px lightgray;
    background-color: white;
}
.chengjiitem
{
    display: flex;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.chengjiitem div{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.chengjiitem div:nth-child(1)
{
    width: 60%;
}
.chengjiitem div:nth-child(2)
{
    width: 20%;
}
.chengjiitem div:nth-child(3)
{
    width: 20%;
}
body{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html{
    height: 100%;
}