.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.download
{
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 16px;
    margin: 16px;
    position: relative;
    left: calc(25% - 16px);
}
.android
{
    background-color: #42b32e;
    color: white;
}
.ios
{
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
    line-height: 56px;
    color: black;
}
.box
{
    width: 100%;
    position: absolute;
    bottom: 80px;
}
.app
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img
{
    width: 90%;
    margin: 5%;    
    position: absolute;
    border-radius: 16px;
    box-shadow: 0 0 5px lightgray;
}
.imghide
{
    transition-duration: 200ms;
    bottom: -50%;
}
.imgshow
{
    transition-duration: 200ms;
    bottom: 0;
}
.ico
{
    width: 20%;
    height: 20%;
    border-radius: 8px;
    position: relative;
    left: 40%;
    margin-bottom: 80px;
}
body
{
    background-color: rgb(245, 245, 245);
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
}
page
{
    height: 100%;
}
html
{
    height: 100%;
}