<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <title>app下载</title>
</head>
<body>
    <div class="app" id="app">
        <div class="title">下载app</div>
        <div class="box">
            <img class="ico" src="/src/favicon.ico"/>
            <a style="text-decoration: none;" href="/src/apk/jiaowu.b1.apk">
                <div class="download android"><i class="bi bi-android2"></i>下载apk</div>
            </a>
    
                <div @click="iosshow=!iosshow" class="download ios"><i class="bi bi-apple"></i>添加至主屏幕</div>
        </div>
        <img @click="iosshow=!iosshow" class="img" :class="{imghide:!iosshow,imgshow:iosshow,img}" src="/src/iosshow.png"/>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>
    
    
    <script src="index.js"></script>
</body>
</html>