<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
</head>
<body>
    <div class="app" id="app">
        <iframe id="iframe" class="iframe" src="/jwglxt/xtgl/login_slogin.html"></iframe>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>

    <script src="login.js"></script>
</body>
</html>