<!DOCTYPE html>
<html style="height: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询课表</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.common.dev.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>
    <link rel="stylesheet" href="kebiao.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="app" id="app">
        <div class="title"><i class="setting bi bi-gear"></i>课表第{{week}}周</div> 
            
        <div class="kebiao">
            <div class="topweek">
                <div class="week">周一</div>
                <div class="week">周二</div>
                <div class="week">周三</div>
                <div class="week">周四</div>
                <div class="week">周五</div>
            </div>
            <div class="fence"></div>
                <div class="itemconter">
                    <div v-show="item.zs.includes(week)" v-bind:style="{left:(item.xqj-1)*20+'%',height:((item.cd-0)*8)+'%',top:'calc('+((item.ks-1)*8)+'% + 29px)'}" class="kebiaoitem" v-for="(item,index) in classList">
                        <div :style="{background:'hsl('+Math.floor(Math.random() * 360)+', 50%, 50%)'}" class="kebiaoinner">
                            <div style="font-weight: 600">{{item.kcmc}}</div>
                            <div>{{item.cdmc}}</div>
                            <div>{{item.xm}}</div>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="bottomtab">
            <select title="2023" v-model="year">
                <option value="2023">2023-2024</option>
                <option value="2022">2022-2023</option>
                <option value="2021">2021-2022</option>
                <option value="2020">2020-2021</option>
            </select>
            <select title="3" v-model="tern">
                <option value="3">学期一</option>
                <option value="12">学期二</option>
                <option value="16">学期三</option>
            </select>
            <div @click="getKebiao" class="buttom">获取</div>
            <div v-bind:style="{visibility: week==1?'hidden':'visible'}" @click="sub" class="buttom">{{'<'}}</div>
            <div v-bind:style="{visibility: week==20?'hidden':'visible'}" @click="add" class="buttom">{{'>'}}</div>
        </div>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>
    <script src="kebiao.js"></script>
</body>
</html>