.kebiao
{
    overflow: hidden;
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 130px);
    border-radius: 8px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 5px lightgray;
}
.itemconter
{
    height: calc(100% - 29px);
    width: 100%;
}
.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.topweek
{
    justify-content: space-between;
    display: flex;
    line-height: 30px;
    width: 100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
}
.setting
{
    text-align: center;
    line-height: 50px;
    display: block;
    position: absolute;
    font-size: 26px;
    width: 50px;
    height: 50px;
    left: 20px;
    top:0
}
.bottomtab
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.bottomtab select
{
    background-color: white;
    margin: 5px;
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 0 8px;
    text-align: center;
    box-shadow: 0 0 5px lightgray;
}
.buttom
{
    margin: 5px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    box-shadow: 0 0 5px lightgray;
    background-color: rgb(118, 198, 224);
}
.buttom:hover
{
    transform: scale(1.1);
    transition-duration: 100ms;
}
.kebiaoitem
{
    position: absolute;
    width: 20%;
}
.kebiaoinner
{
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    color: white;
    font-size: 13px;
    text-align: center;
    background-color: hsl(64, 52%, 53%);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 3px;
}
.fence
{
    width: 100%;
    position: absolute;
    height: 32%;
    background-color: rgb(245, 245, 245);
    top:calc(40% + 30px)
}
.app
{
    height: 100%;
    width: 100%;
}
.week
{
    width: 20%;
    text-align: center;
}
body
{
    background-color: rgb(245, 245, 245);
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
}
page
{
    height: 100%;
}