<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算器</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>

</head>
<body>
    <div class="app" id="app">
        <div class="title">
            计算器
        </div>
        
        <div class="number">
            {{num.toString(inputNow==0?16:inputNow==1?10:inputNow==2?8:2)}}
        </div>

        <div class="showplane">
            <div :style="{top:inputNow*25+'%'}" class="showbg"></div>
            <div @click="inputNow = 0" class="showitem">HEX {{num.toString(16)}}</div>
            <div @click="inputNow = 1" class="showitem">DEC {{num.toString(10)}}</div>
            <div @click="inputNow = 2" class="showitem">OCT {{num.toString(8)}}</div>
            <div @click="inputNow = 3" class="showitem">BIN {{num.toString(2)}}</div>
        </div>

        <div class="bottomtab">
           <div
                :class="{bottombuttonpress:
                    (['A','B','C','D','E','F'].includes(bottom) && inputNow>0)||
                    (['8','9'].includes(bottom) && inputNow>1)||
                    (['2','3','4','5','6','7'].includes(bottom) && inputNow>2)}"    
                v-for="bottom in buttom" @click="input(bottom)" class="bottombutton">
                <div style="height: 40%;"></div>
                {{bottom}}
            </div>
        </div>
        <div v-if="false" style="width: 100%;height: 100%;position: absolute;top:0;background-color: white;display: flex;align-items: center;justify-content: center;"><img src="/src/loading.webp"/></div>
    </div>
    <script src="index.js"></script>
</body>
</html>