.title
{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: white;
}
.bottomtab
{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 98%;
    height: 46%;
    left: 1%;
    border-radius: 8px 8px 0 0;
    position: absolute;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0px 4px lightgray;
    padding-top: 10%;
    box-sizing: border-box;
}
.bottombutton
{
    width: 18%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    height: 15%;
    top:-3px;
    box-sizing: border-box;
    border-radius: 6px;
    line-height: 100%;
    box-shadow: 0 3px 2px lightgray;
    transition-duration: 100ms;
    position: relative;
}
.bottombutton:active{
    top:0px;
    transition-duration: 10ms;
    box-shadow: 0 0px 2px lightgray;
    filter: brightness(106%);
}
.bottombuttonpress{
    top:0px;
    transition-duration: 100ms;
    box-shadow: 0 0px 2px lightgray;
    filter: brightness(106%);
}
.bottombutton:last-child{
    background-color: rgb(73, 140, 167);
    color: white;
}
.showplane
{
    width: 98%;
    left: 1%;
    position: absolute;
    bottom: 48%;
    height: 20%;
}
.showbg
{
    position: absolute;
    background-color: white;
    height: 25%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 4px lightgray;
    transition-duration: 100ms;
}
.showitem
{
    position: relative;
    height: 25%;
    width: 100%;
    line-height: 260%;
    padding-left: 6%;
    box-sizing: border-box;
}
.number
{
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    top:10%;
    width: 96%;
    right: 2%;
    text-align: right;
    word-break:break-all;
}
body{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
html
{
    height: 100%;
}